<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Explicit development fixture renderer; absent from release builds. -->
        <activity android:name=".debug.VisualReviewActivity" android:exported="true"
            android:screenOrientation="landscape" android:theme="@style/Theme.DriveStream.KodiEstuary" />
    </application>
</manifest>
